*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    width: 100vw;
    overflow-x: hidden;
}
/* navigation */
.content{
    width: 95vw;
    margin: 0 auto;
}
#about-nav{
    color: rgb(201, 201, 25);
    margin-right: 3rem;
}
.top-nav{
    padding: 10px 10px 0 10px;
    width: 100%;
}
.top-nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.top-nav li{
    list-style: none;
    margin-right: 2rem;
    padding-left: 2rem;

}
.top-nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* Logo section */
.logo img{
    height: 4rem;
}


/* inovative section */
.inovative{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-bottom: 5rem;
}
.text-left{
    width: 53vw;
    padding: 4rem 2rem 0 0;
}
.text-left > h2{
    width: 50%;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
.text-left > p{
    width: 75%;
    opacity: 0.7;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.text-left > button{
    width: 11rem;
    height: 3rem;
    font-weight: 800;
    background-color: rgb(201, 201, 25);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}
.social-logo img{
    width: 2rem;
    margin-right: 0.8rem;
}
.social-logo > a{
    text-decoration: none;
}
.img-right{
    width: 50%;
    height: 25rem;
    display: inline-block;  
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
 
}
.img-right > img {
    width: 90%;
    height: 95%;
    margin-top: -2.1rem;
    margin-left: -6px;
}


/* About section */
.about-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3rem;
}
.head {
    text-align: center;
}
.head > h3{
    margin-bottom: -0.7rem;
    font-size: 1.5rem;
}
.head > img{
    width: 7rem;
}
/* About content */
.about-content{
    display: flex;
    padding: 4rem;

}

.about-intro{
    padding-left:  4rem;
    margin-top: 4.5rem;
}
.about-intro > h3 {
    margin-bottom: 2rem;
}
.about-intro > p{
    margin-bottom: 3rem;
    width: 78%;
    line-height: 1.5rem;
    opacity: 0.7;
}
.about-intro > button{
    width: 8rem;
    border: none;
    height: 2.7rem;
    background-color: rgb(201, 201, 25);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Resume Section */
.resume{
    width: 100%;
    margin-bottom: 4rem;
}
.resume-content{
    display: flex;
    width: 90%;
    margin: 2rem auto;
    justify-content: space-between;
}
.resume-left, .resume-right{
    border-left: 3px solid rgb(201, 201, 25);
    padding-left: 1rem;
}
.resume-left{
    width: 70%;
}
.resume-right{
    width: 20%;
}
.resume-content h4{
    margin-bottom: 0.8rem;
}
.resume-content h5{
    margin-bottom: 0.5rem;
}
.resume-content p{
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

/* Porfolio */
.portfolio{
    width: 100%;
    margin-bottom: 3rem;
}
.portfolio > nav > ul{
    display: flex;   
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.portfolio > nav > ul> li{
    list-style: none;
    margin: 0.5rem 1rem;
    padding-right: 2rem;
    cursor: pointer;

}
.portfolio button{
    width: 4rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}
.portfolio-img{
    margin-top: 1rem;
    display: flex;
    justify-content: center;

}

/* Mobile view */
@media (max-width: 767.98px){
    .top-nav{
        position: absolute;
        top: 4rem;
        padding: 0 1rem;
        
    }
    .top-nav li{
        padding: 0 0.7rem 0 0;
        margin: 0;
        text-align: center;
        font-size: small;
        
    }
    .logo{
        height: 2rem;
        width: 100vw;
        text-align: center;
        margin: 0.5rem 0 2rem 0;
    }
    .logo > img{
        height: 3rem;
        width: 6rem;
    }
    .inovative{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 3rem;
    }
    .text-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 4rem;
        padding: 0;
    }
    .text-left > h2{
        width: 90%;
        text-align: center;
        line-height: normal;
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }
    .text-left > p{
        line-height: 1.5rem;
        width: 100%;
        font-size: 0.9rem;
    }
    .img-right{
        margin-top: 2.5rem;
        height: 30vh;
        order: -1;;
        width: 55%;
    }
    .img-right > img{
        
        width: 100%;
        margin-left: 0;
        margin-top: -1rem;
    }

    /* About section */
    
    .about-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-img{
        height: 20rem;
        width: 90vw;
        overflow: hidden;
        border-radius: 10px;
        margin: 0 auto;
      
    }
    .about-intro {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .about-intro p {
        line-height: normal;
        width: 100%;
    }
    /* Resume Section */
    .resume-left{
        width: 55%;
    }
    .resume-right{
        width: 43%;
    }
    /* Portfolio Section */
    .portfolio> nav> ul> li {
        padding-right: 0;
        margin: 0.5rem 0.4rem;
    }
    .portfolio-img {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .img-dis{
        display: none;
    }
}